<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="mystu" class="com.wuminghui.package03.Student">
        <constructor-arg name="name"  value="刘备"></constructor-arg>
        <constructor-arg name="age"  value="88"></constructor-arg>
        <constructor-arg name="school" ref="xuexiao"></constructor-arg>
        <!--引用类型的声明放前放后都没关系（不用关心顺序），spring先会扫描配置文件
             创建好所有的对象存起来，然后赋值的时候再二次扫描容器中的对象-->
    </bean>
    <bean id="mystu2" class="com.wuminghui.package03.Student">
        <!--构造注入必须有有参构造器-->

     <!--   <constructor-arg index="0"  value="吴明辉"></constructor-arg>
        <constructor-arg index="1"  value="25"></constructor-arg>
        <constructor-arg index="2" ref="xuexiao"></constructor-arg>-->
        <!--当赋值顺序与构造器参数的顺序一致时，可以省略index-->
        <constructor-arg value="吴明辉"></constructor-arg>
        <constructor-arg  value="25"></constructor-arg>
        <constructor-arg ref="xuexiao"></constructor-arg>
    </bean>
    <bean id="xuexiao" class="com.wuminghui.package03.School">
        <property name="name" value="西南交通大学"></property>
        <property name="address" value="成都市"></property>
    </bean>
    <!--构造注入创建文件对象-->
    <bean id="myfile" class="java.io.File">
        <constructor-arg name="parent" value="D:\software\IDEA\spring-course\002-di-xml"></constructor-arg>
        <constructor-arg name="child" value="readme.txt"></constructor-arg>
    </bean>


    <!-- di:给属性赋值
      方式一：set注入（注入就是赋值的意思）
                1.简单类型的set注入:spring调用属性名默认的set方法(一个property只能给一个属性赋值)
                       <bean id = "xx"  class = "yy">
                              <property name = "属性名1" value = "属性值1"></property>
                              <property name = "属性名2" value = "属性值2"></property>
                       </bean>
                2.引用类型的set注入：spring调用属性名默认的set方法
                        <bean id = "xx"  class = "yy">
                              <property name = "属性名" ref = "bean的id"></property>

                       </bean>
    方式二：构造注入，spring调用类的有参构造方法，在创建对象的同时，在构造方法中给属性赋值。
            构造注入使用<constructor-arg></constructor-arg>标签，一个该标签表示构造方法的一个参数。
            <constructor-arg></constructor-arg>标签属性：
                    name：构造方法的形参名
                    index：表示构造方法的参数位置，参数从左到右位置为0123的顺序
                    value：如果构造方法的形参类型是简单类型，使用value赋值
                    ref：当构造方法的形参类型是引用类型，使用ref赋值
    -->
</beans>